body {
    padding-top: 55px;
}

@media (min-width: 768px) {
    .container {
        max-width: 738px;
    }
    div.lead-label {
        text-align: right;
    }
    h1.unit-header+.row > .col-md-4 {
        text-align: left;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
h1.unit-header {
    font-size: 120%;
    text-align: center;
}